
body{
    background-color:  gray;
}

head {
    font-family: sans-serif;
}
input {
    width:  10px;
    height: 10px;
}



4. Create css file and link it to your HTML file, and write css code for the following: 
        //     a. Change the background color for the whole page.
        //     b. Change the font family for the header of the page.  
        //     c. Enlarge the input text (both: width & height).